.create {
  height: fit-content;
  margin-bottom: 4rem;
  padding: 3% 3% 1%;
  border-radius: 15px;
  font-size: 1.7rem;
  background-color: #282828;
  display: flex;
  justify-content: space-around;
}

.user-ava {
  border: 1px solid white;
  object-fit: cover;
}

.create-posts {
  width: 80%;
}

.create-line {
  font-size: 1.5rem;
  text-align: start;
  width: 100%;
  height: 5rem;
  border-radius: 10px;
  background-color: #222222;
  color: white;
  padding: 2rem;
  letter-spacing: 1px;
}

.create-line:hover {
  animation: 1.5s ease infinite alternate running shimmer;
  background: linear-gradient(90deg, #343228 0%, #31484d 30%, #2e2f3c 85%);
  background-size: 200% 100%;
  border: none;
  border-radius: 30px;
  box-shadow: -2px -2px 10px rgba(111, 137, 134, 0.5), 2px 2px 10px rgba(62, 62, 72, 0.5);
  color: #170f1e;
  cursor: pointer;
  overflow: hidden;
  padding: 15px 30px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  // transform: rotate(-1deg);
  color: white;
}

@keyframes shimmer {
  to {
    background-size: 100% 100%;
    box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
  }
}

.create-details {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem 0;
}

.create-sthg {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30%;
  height: 4rem;
  border-radius: 10px;
  color: white;
  background-color: #222222;
}

.create-sthg-details {
  margin: 0.5rem;
}

// test button

.create-sthg {
  --text-base: rgb(190, 181, 181), 55%, 40%;
  --text-hover: 307deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 276deg, 87%, 100%;
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsla(var(--text-base), 1);
  font: 400 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-align: center;
  padding: 0.55em;
  max-width: 33.33%;
  width: 25%;
  background: inherit;
  background-clip: padding-box;
  border: 2px solid #413838;
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  background-color: #222222;
  transition: 0.25s ease-out;
}
.create-sthg::before,
.create-sthg::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.create-sthg::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
.create-sthg::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}
.create-sthg:hover,
.create-sthg:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32),
    0 1px 1px hsla(var(--shadow-inner), 0.32);
}
.create-sthg:hover::before,
.create-sthg:hover::after,
.create-sthg:focus::before,
.create-sthg:focus::after {
  transform: none;
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .create {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .create {
    border-radius: 0;
    margin-bottom: 0;
  }
}
