@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

.container {
  --margin-top: 15vh;
  background-color: #1a1a1a;
  color: white;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin-top: calc(var(--margin-top) - 26px);
}

.trending,
.user-info {
  position: fixed;
  top: var(--margin-top);
  display: flex;
  flex-direction: column;
  height: 65vh;
  border-radius: 25px;
  background-color: #282828;
}
// Trending places //
.trending {
  width: 20%;
  right: 6.6rem;
}

.trending ul {
  font-style: italic;
}

ul {
  margin: 0rem 3rem;
  font-size: 1.7rem;
}

a,
li {
  display: block;
  margin: 1.5rem 0rem;
  list-style: none;
  color: white;
}

.trending-title {
  margin: 3rem 0.5rem 2rem;
  font-family: "Holtwood One SC", serif;
  font-size: 2.2rem;
  text-align: center;
}

.trending-more {
  text-align: center;
  margin: auto;
  letter-spacing: 5px;
}

//Main Feed//

.feed {
  margin: auto;
  width: 48%;
  padding-left: 3rem;
}

.feed-post {
  margin-bottom: 4rem;
  background-color: #282828;
  padding: 1rem 0rem 1.5rem;
  border-radius: 15px;
  font-size: 1.7rem;
}
.feed-head {
  display: flex;
  margin: 0.5rem 1.5rem 1rem;
}

.feed-ava {
  width: 5rem;
  height: 5rem;
  border-radius: 40px;
  object-fit: cover;
}

.feed-cover {
  position: relative;
  width: 100%;
  height: 40vh;
}

.feed-head-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: space-around;
}

.feed-time {
  font-size: 1rem;
  letter-spacing: 1px;
}

.feed-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed-cover-rad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  pointer-events: none;
}

.cover-item {
  position: absolute;
  bottom: 0;
  right: 3rem;
  font-size: 2rem;
  width: 5%;
  text-align: center;
}

.views {
  bottom: 2rem;
}

.cmts {
  bottom: 10rem;
}

.likes {
  bottom: 18rem;
}

.feed-title-center {
  text-align: center;
}

.feed-title {
  margin: 1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: bold;
}

//User info//
.user-info {
  width: 23%;
}

.user-info-head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.7rem;
  color: white;
}

.user-info-header {
  width: 100%;
  display: flex;
}

.user-info-header > * {
  width: 30%;
}

.user-info-header-details li {
  margin: 1.3rem 0rem 0rem;
}

.user-info-header-line {
  font-size: 1rem;
  font-style: italic;
}

.user-cover-linear {
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: ;
  background: linear-gradient(
    to bottom,
    RGBA(40, 40, 40, 0.3),
    RGBA(40, 40, 40, 0.6)
  );
  pointer-events: none;
}

.user-info-bgimg {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.user-info-bgava {
  margin: auto;
  width: 30%;
  height: 10rem;
  object-fit: cover;
  border-radius: 30px;
  border: solid 2px;
  margin-top: -4rem;
}

.user-info-fullname {
  letter-spacing: 1.5px;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 0;
}

.user-info-fullname > * {
  margin: 0 0.5rem;
}

.user-info-username {
  margin: 0.2rem 0 2rem;
  font-style: italic;
}

.user-info-des {
  margin: 1rem 2.5rem;
}

.user-info-line {
  width: 70%;
  height: 0rem;
  border: #3c2d2d 0.4px solid;
  margin: 2rem 0 1rem;
}

.user-info-btn {
  cursor: pointer;
  background-color: #23262b;
  color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-style: italic;
  width: 60%;
  height: 4rem;
  font-weight: lighter;
}

//Create post//
.create {
  height: 20vh;
  margin: 0rem 3rem 4rem;
  border-radius: 15px;
  font-size: 1.7rem;
  background-color: #282828;
  display: flex;
  padding: 2rem 1.5rem 1rem;
}

.user-ava {
  width: 5rem;
  height: 5rem;
  border: 1px solid white;
  border-radius: 40px;
  object-fit: cover;
}

.create-posts {
  width: 80%;
  margin: 0 3rem;
}

.create-line {
  font-size: 1.5rem;
  text-align: start;
  width: 100%;
  height: 5rem;
  border-radius: 10px;
  background-color: #222222;
  color: white;
  padding: 2rem;
  letter-spacing: 1px;
}

.create-details {
  display: flex;
  justify-content: space-between;
}

.create-sthg {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
  width: 30%;
  height: 4rem;
  border-radius: 10px;
  color: white;
  background-color: #222222;
}

.create-sthg-details {
  margin: 0.5rem;
}
