.wrapper {
  --side-width: 20em;
  --side-left: 4em;
  min-height: 90vh;
  padding: 2rem 0;
  background-color: #1a1a1a;
  font-size: 1.6rem;
}

@media (max-width: 1500px) {
  .wrapper {
    font-size: 1.35rem;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    font-size: 1.15rem;
  }
}

@media (max-width: 992px) {
  .wrapper {
    --side-width: 18em;
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    --side-width: 16em;
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .wrapper {
    font-size: 1.3rem;
  }
}
