$active-color: #d2ae68;
$wrapper-width: 30rem;
$header-padding: 1.4em;
$header-size: 1.4em;

.wrapper {
  display: flex;
  position: fixed;
  top: calc(10vh + 2rem);
  right: var(--side-left);
  width: var(--side-width);
  height: 65vh;

  .container {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    border: 1px solid #534242;
    border-radius: 15px;
  }
  header {
    width: 100%;
    padding: $header-padding;
    text-align: center;
    font-size: $header-size;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3px;
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 4;
    max-height: 100%;
    overflow: overlay;
  }
}

// css active timeline

.active {
  width: 15%;
  height: 40%;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  border-radius: 5px;
  background: rgba(217, 217, 217, 0.09);
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1.5px;
  span,
  .date {
    width: 9em;
    transform: rotate(90deg);
  }

  .date {
    background: #23262b;
    border-radius: 20px;
    color: $active-color;
    padding: 0.5rem;
    text-align: center;
  }
}

// css timeline

.timeline-item {
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
  color: white;
  cursor: pointer;
  letter-spacing: 1.5px;

  .index {
    display: inline-block;
    width: 2em;
  }
}
.timeline-item:hover,
.item-active {
  color: $active-color;
  .value {
    text-decoration: underline;
  }
}
