@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

//User info//
.user-info {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 30%;
  left: 8rem;
  top: 20rem;
  z-index: 20;
}

.user-info-bgimg {
  position: relative;
  top: 10vh;
  width: 90%;
  margin: 0 5%;
  height: 20vh !important;
  position: fixed;
  z-index: 10;

  img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
    vertical-align: top !important;
    height: 100% !important;
  }
}

.user-info-header {
  position: relative;
  text-align: center;
  font-size: 1.8rem;
  color: white;

  & > * {
    width: 70%;
  }

  * {
    text-align: center;
    margin: auto;
    color: white;
  }
}

.user-info-fullname {
  letter-spacing: 1px;
  margin-top: 1rem;
  margin-bottom: 0 !important;
  color: white !important;
}

.user-info-des {
  margin-top: 2rem !important;
  margin-bottom: 4rem !important;
  padding: 0 1rem 0 1rem;
  font-size: 1.7rem;
}

.para {
  margin: 0 !important;
  font-size: 1.5rem;
  font-style: italic;
}

.cell {
  padding: 0.7rem 0;
}

#one {
  border-right: #3c2d2d 0.5px solid;
  border-bottom: #3c2d2d 0.5px solid;
}

#two {
  border-left: #3c2d2d 0.5px solid;
  border-bottom: #3c2d2d 0.5px solid;
}

#three {
  border-right: #3c2d2d 0.5px solid;
  border-top: #3c2d2d 0.5px solid;
}

#four {
  border-left: #3c2d2d 0.5px solid;
  border-top: #3c2d2d 0.5px solid;
}

.container {
  position: absolute;
  top: 32vh;
  width: 60%;
  left: 35%;

  & > * {
    width: 100%;
  }
}

.navigation {
  font-size: 2rem;
  display: flex;
  background-color: #1a1a1a;
  align-items: flex-end;
  padding: 2rem 0;
  position: fixed;
  top: 30vh;
  z-index: 10;

  & > * {
    margin-right: 4rem;
    cursor: pointer;
    width: fit-content;
    font-size: 2.4rem;
    font-style: italic;
    color: white;
    transition: 100ms font-weight linear;
    // width: 15%;
    text-align: center;
  }

  .active {
    color: #d2ae68;
    border-bottom: #d2ae68 solid 2px;
    font-weight: 700;
  }
}

//VACATION
.feed {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  width: 97%;

  li {
    width: 100%;
    margin-bottom: 4rem;
    background-color: #282828;
    padding: 0rem 0rem 1.5rem;
    border-radius: 15px;
    font-size: 1.7rem;
  }

  li:hover {
    cursor: pointer;
    .feed-title {
      color: #d2ae68;
      font-style: italic;
    }
  }
}

.feed-head {
  display: flex;
  margin: 0.5rem 1.5rem 1rem;
}

.feed-ava {
  width: 5rem;
  height: 5rem;
  border-radius: 40px;
  object-fit: cover;
}

.feed-cover {
  border-radius: 15px;
  position: relative;
  width: 100%;
  height: 40vh;
}

.feed-head-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: space-around;
}

.feed-time {
  font-size: 1rem;
  letter-spacing: 1px;
}

.feed-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.feed-cover-rad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  pointer-events: none;
  border-radius: 15px;
}

.cover-item {
  position: absolute;
  bottom: 0;
  right: 3rem;
  font-size: 2rem;
  width: 5%;
  text-align: center;
}

.views {
  bottom: 2rem;
}

.cmts {
  bottom: 10rem;
}

.likes {
  bottom: 18rem;
}

.feed-title-center {
  justify-content: center;
  display: flex;
  text-align: center;
}

.feed-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 80%;
}
