.wrapper {
  width: 100%;
  height: 100%;
}

.mother {
  position: relative;
  // position: fixed;
  // top: 18vh;
  // left: 30%;
  width: 100%;
  height: 100%;
  /* border: 1px solid yellow; */
  // padding: 1rem;
  outline-width: 2px;
  outline-color: white;
  outline-style: solid;
  outline-offset: 2rem;
}

.handle {
  width: inherit;
  height: inherit;
  text-align: center;
  cursor: all-scroll;
  object-fit: cover;
  border-radius: 10px;
  background-size: cover;
}

.carou {
  width: 20%;
  height: 70vh;
}

.carou > img {
  height: 100%;
}

.draggable {
  position: absolute !important;
}

.close-icon {
  position: absolute;
  top: min(5%, 10px);
  right: min(7%, 10px);
  color: white;
  transition: color linear 200ms;
  font-size: 2rem;

  &:hover {
    color: #d2ae68;
  }
}
